.container{
    display: flex;
    align-items: center;
}

img{
    height:3rem;
    width:3rem;
    margin-top:0.4rem;
}

input{
    height: 1.7rem;
    width:15rem;
}

.star{
    margin-left: 1rem;
    cursor: pointer;
}

.right{
    flex-basis: right;
    margin-left:55rem;
    font-size: 2rem;
    margin-top:2rem;
    gap:2rem;
}

